<h1>User Detail Page</h1>
<!-- <ul>
  

<li>{{name.id}} {{name.first_name}} {{name.last_name}}</li>

</ul>
<img src = "~/{{name.image_url}}" alt= {{name.image_url}} {{name.first_name}} {{name.last_name}}>
<form action='/users/:id/edit' method="POST">
    <input type='text' name = 'first_name' placeholder='first name'>
    <input type='text' name = 'last_name' placeholder='last name'>
    <input type='file' name= 'image_url' placeholder='image_url'>
    
    <button>Edit User</button>
</form>  
{%for name in stuff%}
<a href= '/{{name.id}}'> {{name.first_name}} {{name.last_name}}</a>
{%endfor%}
{%for post in all_blogs%}
<h4>Blog Title:{{post.title}}</h4>
<h4>Content:</h4>
{{post.content}}
<h5>By:{{name.first_name}} {{name.last_name}}{{post.created_at}} {{post.user_id}}</h5>
{%endfor%}
<form action='/personal' method='POST'>
</form>
<button>Go to Blogs Page</button>


<form action='/' method='GET'>    
    <button>Delete User</button>
</form> -->

<!-- <form method='POST'>
    <input type='text' name = 'title' placeholder='title of blog'>
    <input type='text' name = 'content' placeholder='blog content'>
    <input type='text' name = 'created_at' placeholder='created_at'>
    <input type='integer' name= 'user_id' placeholder='user_id'>
    <button>Submit Blog</button>
</form>    -->

