
<h1>User Edit Page</h1>



    {{name.first_name}} {{name.last_name}}
    <form action="/users" method="POST">
        <input type='text' name = 'first_name' placeholder='first name'>
        <input type='text' name = 'last_name' placeholder='last name'>
        <input type='file' name= 'image_url' placeholder='image_url'>
    
        <button>Edit User</button>
    
    </form>   
    
    <form action="/users/:id/delete" method="POST">
        
    
        <button>Delete</button>
    
    </form> 

    



<ul>
    {% for tags in tags_available%}
<li>
    {{tags.name}}
</li>
{%endfor%}


</ul>    

<a href = '/'>Go Back</a>

