<h1>PERSONAL DETAILS PAGE</h1>

{{id}}
    
    <h3>First Name: {{name.first_name}} 
    Last Name: {{name.last_name}}</h3>
<ul>
    {%for blog in blogs%}
    <li>{{blog.title}}
    {{blog.content}}</li>
    {%endfor%}

</ul>
    
<button><a href= "/users/{{id}}/edit" >Edit User</a></button>
    
    </form>  

<button><a href="/users/{{id}}/posts/new">Post a blog</a></button>
<!-- {%for post in all_blogs%} -->

<!-- <h3>Posts</h3>
<ul>
<li><h4>Blog Title:</h4>{{post.title}}</li>
<li><h4>Content:</h4>{{post.content}}</li>
<li><h5>By:</h5>{{name.first_name}}{{name.last_name}}{{post.created_at}}{{post.user_id}}</li>
</ul>
<form action='/blog'>
</form>
<button>Delete Blog</button>
{%endfor%}

