<h1>BLOG LIST</h>

{%for name in name%}
<a href= '/{{name.id}}'> {{name.first_name}} {{name.last_name}}</a>
{%endfor%}
{%for post in all_blogs%}

<h3>Posts</h3>
<ul>
<li><h4>Blog Title:</h4>{{post.title}}</li>
<li><h4>Content:</h4>{{post.content}}</li>
<li><h5>By:</h5>{{name.first_name}}{{name.last_name}}{{post.created_at}}{{post.user_id}}</li>
</ul>
<form action='/blog'>
</form>
<button>Delete Blog</button>
{%endfor%}

<h3>New Post Form</h3>
<form action='/personal' method='POST'>
<input type='text' name = 'title' placeholder='title of blog'>
<input type='text' name = 'content' placeholder='blog content'>
<input type='text' name = 'created_at' placeholder='created_at'>
<input type='integer' name= 'user_id' placeholder='user_id'>
<button>Submit Blog</button>
</form>